                    {% load sitetree %}<!-- Navlist items -->
                    {% for item in sitetree_items %}<li{% if item.is_current %} class="active"{% endif %}>
                        <a href="{% sitetree_url for item %}"{% if item.hint %} title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
                        {% if item.has_children %}
                            {% sitetree_children of item for menu template "sitetree/navlist-items.html" %}
                        {% endif %}
                    </li>{% endfor %}
