{% extends "base.html" %}
{% load static sitetree %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/paleblue.css" media="screen,projection"/>
{% endblock %}

{% block sidebar %}
    {% sitetree_menu from "opmstree" include "top-analytics" template "sitetree/navlist.html" %}
{% endblock %}

{% block content %}
    {% if error != '' %}
        <div class="alert alert-error">ERROR: {{ error }}</div>
    {% else %}
        {% if message != '' %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        <div>
            <img style="float:right; margin-left:10px" src="{{ collection.img170 }}"/>

            <h3>{{ collection.name }} {% if collection.contains_movies %}<b class="small">[video]</b><i
                    class="icon-facetime-video"></i>{% else %}<b class="small">[audio]</b><i class="icon-headphones">
            </i>{% endif %}</h3>
            {% if message != '' %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            <p>Institution:
                <a href="{% url itu-institution institution_id=collection.itucollection.institution.id %}">
                    {{ collection.itucollection.institution.name }}</a>

            <br>Genre: <a
                    href="{% url itu-genre genre_id=collection.genre.id %}">{{ collection.genre.name }}</a>
            <br>iTunes: <a href="{{ collection.url }}">{{ collection.url }}</a> <i class="icon-share-alt
            noprint"></i></div>
        </p>

        {% if summary_list %}
            <h4>Summary Info</h4>
            <p>There are {{ total_downloads.days }} days of results since 19th January 2012<br>
                Total Downloads for this feed over this period are <i class="badge">
                {{ total_downloads.download|add:total_downloads.auto_download|add:total_downloads.download_all|add:total_downloads.subscription_enclosure }}</i><br>
                This represents a daily average of
                {{ daily_averages.total_download|floatformat }}.<br>
                This represents a weekly average of {{ weekly_averages.total_download|floatformat }}.
            </p>

            <p>Feed description last modified: {{ collection.last_modified }}<br>
            NB: Total Downloads above calculated as <em>Downloads + Enclosure</em>.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Browse</th>
                        <th>Subscribe</th>
                        <th>Download</th>
                        <th>Stream</th>
                        <th>Enclosure</th>
                    </tr>
                    <tr>
                        <th><b class="label label-info">Daily averages</b></th>
                        <td><i class="badge">{{ daily_averages.browse|floatformat }}</i></td>
                        <td><i class="badge">{{ daily_averages.subscribe|floatformat }}</i></td>
                        <td><i class="badge">{{ daily_averages.oxford_download|floatformat }}</i></td>
                        <td><i class="badge">{{ daily_averages.stream|floatformat }}</i></td>
                        <td><i class="badge">{{ daily_averages.subscription_enclosure|floatformat }}</i></td>
                    </tr>
                    <tr>
                        <th><b class="label label-info">Totals</b></th>
                        <td><i class="badge">{{ total_downloads.browse }}</i></td>
                        <td><i class="badge">{{ total_downloads.subscribe }}</i></td>
                        <td><i class="badge badge-important"
                                >{{ total_downloads.download|add:total_downloads.auto_download|add:total_downloads.download_all }}</i></td>
                        <td><i class="badge">{{ total_downloads.stream }}</i></td>
                        <td><i class="badge badge-important">{{ total_downloads.subscription_enclosure }}</i></td>
                    </tr>
                </thead>
                <tbody>
                {% for item in summary_list %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.browse }}</td>
                        <td>{{ item.subscribe }}</td>
                        <td>{{ item.download|add:item.auto_download|add:item.download_all }}</td>
                        <td>{{ item.stream }}</td>
                        <td>{{ item.subscription_enclosure }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>TOTALS</th>
                        <td>{{ total_downloads.browse }}</td>
                        <td>{{ total_downloads.subscribe }}</td>
                        <td>{{ total_downloads.download|add:total_downloads.auto_download|add:total_downloads.download_all }}</td>
                        <td>{{ total_downloads.stream }}</td>
                        <td>{{ total_downloads.subscription_enclosure }}</td>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}