Django>=1.4
IPy>=0.75
PyYAML>=3.10
South>=0.7.4
apachelog==1.1
distribute>=0.6.26
django-chartit==0.1
django-debug-toolbar>=0.9.4
django-extensions>=0.8
django-sitetree>=0.7
dnspython==1.10.0
feedparser==5.1.1
ipython>=0.12
isodate==0.4.7
lxml==2.3.4
nose==1.1.2
numpy==1.6.1
psycopg2>=2.4.5
pygeoip==0.2.3
pygraphviz==1.1
rdflib==3.2.0
simplejson==2.5.2
six==1.1.0
wsgiref==0.1.2
xlrd>=0.7.7
yolk==0.4.3