/**
 * Layout elements for OPMS
 */
 
#navbar ul.level1 {
    list-style-type: none;
    background-color: #990000;
}

#navbar ul.level1 li {
    display: inline;
}

#navbar ul.level1 li a {
    display: inline;
    height:1.5em;
}

#navbar ul.level2 {
    list-style-type: none;
    background-color: #000099;

}

#navbar ul.level2 li {
    display: inline;
}