/**
 * Layout elements for OPMS
 */
 
#navbar ul {
    list-style-type: none;
    background-color: #990000;
}

#navbar ul li {
    display: inline;
}

#navbar ul li ul {
    float: left;
    list-style-type: none;
    background-color: #000099;

}

#navbar ul li ul li {
    display: inline;
    
}