/**
 * Look and Feel attributes for OPMS
 */

#navbar ul.level1 {
    background-color: #990000;
}

#navbar ul.level1 li {
}

#navbar ul.level1 li a {
}

#navbar ul.level1 li a:hover {
    background-color: #ff0000;
}



#navbar ul.level2 {
    background-color: #000099;

}

#navbar ul.level2 li {
}


#navbar ul.level2 li a {
}


#navbar ul.level2 li a:hover {
    background-color: #0000ff;
}