<!DOCTYPE html>
<html lang="en-gb" >
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/images/favicon.ico" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <meta name="author" content="University of Oxford" />

    <title>{% block title %}Welcome{% endblock %} :: The OPMS</title>

    <link rel="stylesheet" href="/static/styles/basic.css" media="all" />
    <link rel="stylesheet" href="/static/styles/print.css" media="print" />
    <link rel="stylesheet" href="/static/styles/oxService.css" media="screen,projection" />
    <link rel="stylesheet" href="/static/styles/mainnav.css" media="screen,projection" />
    <link rel="stylesheet" href="/static/styles/lookandfeel.css" media="screen,projection" />
    <link rel="stylesheet" href="/static/styles/layout.css" media="screen,projection" />

    {% block head %}
    <script src="/static/scripts/jquery-1.6.4.min.js"></script>
    <script src="/static/uploadify/swfobject.js"></script>
    <script src="/static/uploadify/jquery.uploadify.v2.1.4.js"></script>
    <script>
    $(document).ready(function() {
        $('#file_upload').uploadify({
            'uploader'  : '/static/uploadify/uploadify.swf',
            'script'    : '/upload/',
            'cancelImg' : '/static/uploadify/cancel.png',
//            'folder'    : '/static/userfiles',
            'auto'      : true,
            'multi'     : true,
//            'fileExt'   : '*.mp3;*.ogg;*.flac',
//            'fileDesc'  : 'Music Files',
            'queueID'   : 'file_upload_queue',
            'removeCompleted': false
        });
    });
    </script>
    {% endblock %}

</head>

<body>
{% block navbar %}
<nav id="mainnav">
    <h2>Main sections</h2>
    <ul class="level-1">
        <li><span class="youarehere">Home</span></li>
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/ffm/">Files &amp; Feeds</a></li>
        <li><a href="/stats/">Statistics</a></li>
    </ul>
</nav>
{% endblock %}

    <div id="content" >
        <div id="breadcrumb"><strong>You are at:</strong> <a href="/">Home</a> {% block breadcrumb %}{% endblock %}</div>
{% block content %}
        <h1>Oxford Podcast Management System (OPMS)</h1>
        <p>Test Upload Form</p>
        <input id="file_upload" type="file" name="Filedata" />
{% endblock %}
    <!-- div.content closes -->
    </div>

    <footer id="footer" >
        <div id="site-info"  >
            <h2   class="nonvis-exposition">Site Information</h2>
			<dl>
				<dt class="nonvis-exposition">Institution</dt><dd id="institution"><a id="oxcrest"  href="http://www.ox.ac.uk/">University of Oxford</a></dd>
				<dt class="nonvis-exposition">Service</dt><dd id="serviceName" >OPMS - Oxford Podcast Management System</dd>
			</dl>
		<!-- div#site-info closes -->
		</div>
	<!-- div#footer closes -->
	</footer>
</body>
</html>
