<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb" >
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <meta name="author" content="University of Oxford" />
    
    <title>{% block title %}Welcome{% endblock %} :: The OPMS</title>
    
    <link media="all" href="/static/styles/basic.css" rel="stylesheet" type="text/css"/>
    <link media="print" href="/static/styles/print.css" rel="stylesheet" type="text/css"/>
    <link media="screen,projection" href="/static/styles/oxService.css" rel="stylesheet" type="text/css"/>
    <link media="screen,projection" href="/static/styles/lookandfeel.css" rel="stylesheet" type="text/css"/>
    <link media="screen,projection" href="/static/styles/layout.css" rel="stylesheet" type="text/css"/>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-gb" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    
    {% block head %}
    {% endblock %}

</head>

<body>
    <div id="navbar">
        {% block navbar %}            
        {% endblock %}
    </div>
    
    <div id="content" >
{% block content %}
        <h1>Oxford Podcast Management System (OPMS)</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel diam quis arcu egestas feugiat. Pellentesque in ligula. Nullam commodo. Ut aliquam mi eu tellus. In hac habitasse platea dictumst. Cras commodo sapien vitae dolor. In volutpat, mauris ac hendrerit tincidunt, magna sapien porttitor ligula, id rhoncus turpis tellus in nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tincidunt lectus in nisl. Nunc vel augue ut felis ultrices ornare. Maecenas suscipit consectetur turpis. Sed nisl. Vivamus eu orci. Integer tellus mauris, euismod ut, tincidunt tincidunt, fringilla eget, mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		
		<p>Nulla sollicitudin quam at ante. Nunc porttitor fermentum neque. Proin blandit congue urna. Nulla nec erat quis urna accumsan interdum. Aenean iaculis. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum, libero ornare placerat mattis, orci massa venenatis libero, et ultrices ligula lacus at arcu. Praesent pharetra orci quis felis. Aenean semper tellus eu magna. Quisque tempus malesuada orci. Etiam consequat vestibulum metus. Mauris ut nibh. Phasellus in diam. Etiam neque. Aliquam erat volutpat.</p>
{% endblock %}        
    <!-- div.content closes -->
    </div>
    
    <div id="footer" >
        <div id="site-info"  >
            <h2   class="nonvis-exposition">Site Information</h2>

			<dl>
				<dt class="nonvis-exposition">Institution</dt><dd id="institution"><a id="oxcrest"  href="http://www.ox.ac.uk/">University of Oxford</a></dd>
				<dt class="nonvis-exposition">Service</dt><dd id="serviceName" >OPMS - Oxford Podcast Management System</dd>
			</dl>
		
		<!-- div#site-info closes -->
		</div>
	<!-- div#footer closes -->
	 </div> 
</body>
</html>
