{% extends "base.html" %}
{% load static sitetree %}

{% block sidebar %}
{% sitetree_menu from "opmstree" include "top-monitoring" template "sitetree/navlist.html" %}
{% endblock %}

{% block content %}
{% if error != '' %}
<div class="alert alert-error">ERROR: {{ error }}</div>
{% else %}
{% if message != '' %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}
<h3>Comment from {{ comment.source }}</h3>
<div>
    "<i>{{ comment.detail }}</i>" -- {{ comment.date }}, {{ comment.time }}
</div>
<div style="text-align:right">
    ID: {{ comment.id }}<br/>
    Category: <span style="color:{{ comment.category.color }}">{{ comment.category.description }}</span><br/>
    Uploaded by {{ comment.user_email }}, {{ comment.dt_uploaded }}<br/>
    {% if comment.moderated %}
        Moderated by {{ comment.moderator }}, {{ comment.dt_moderated }}</div>
    {% else %}
        </div><div class="alert alert-info" style="text-align: center">This event has yet to be checked by one of our moderators.</div>
    {% endif %}
{% endif %}
{% endblock %}