{% extends "base.html" %}
{% load static sitetree %}

{% block sidebar %}
{% sitetree_menu from "opmstree" include "top-monitoring" template "sitetree/navlist.html" %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
{% if error != '' %}
    <h1>ERROR: {{ error }}</h1></div>
{% else %}
    {% if added %}
        {% if edit %}
            Comment updated. You can edit the comment again using the form below, add a <a href="../..">new comment</a> or you can <a href="../../..">return</a> to the home page.
        {% else %}
            Your comment has been added to the database. You can add another comment using the form below, or you can <a href="..">return</a> to the home page.
        {% endif %}
    {% else %}
        {% if edit %}
            Edit comment {{ comment.id }} using the form below:
        {% else %}
            Add a new comment using the form below:
        {% endif %}
    {% endif %}
    </div>
    {% if edit %}
        <form action="/monitoring/feedback/comment/{{ comment.id }}/edit/" method="post">
    {% else %}
        <form action="/monitoring/feedback/comment/" method="post">
    {% endif %}
    {% csrf_token %}
        <input type="hidden" name="add" value="1 /">
    <div class="row-fluid">
        <div class="span1">Source:</div><div class="span2"><input type="text" name="source" value="{{ comment.source }}"/></div>
    </div>
    <div class="row-fluid">
        <div class="span1">Comment:</div><div class="span2"><textarea type="text" name="detail">{{ comment.detail }}</textarea></div>
    </div>
    <div class="row-fluid">
        <div class="span1">Date:</div><div class="span2"><input type="text" value="{{ comment.date.day }}/{{ comment.date.month }}/{{ comment.date.year }}" data-date-format="dd/mm/yyyy" id="dp" class="input-small" name="date"/></div>
    </div>
    <div class="row-fluid">
        <div class="span1">Time:</div><div class="span2"><input placeholder="{{ comment.time.hour }}:{{ comment.time.minute }}:{{ comment.time.second }}" class="timepicker input-small" type="text" name="time"/></div>
    </div>
    <div class="row-fluid">
        <div class="span1">Category:</div><div class="span2"><select name="category_id">
        {% for c in categories %}
            {% if c.id == comment.category.id %}
                <option value="{{ c.id }}" selected="selected">{{ c.description }}</option>
            {% else %}
                <option value="{{ c.id }}">{{ c.description }}</option>
            {% endif %}
        {% endfor %}
        </select></div>
    </div>
    <div class="row-fluid">
        <div class="span1"></div><div class="span2"><input type="submit" value="Submit" /> <input type="reset" value="Reset"></div>
    </div>
{% endif %}
</form>
<script>
    $(document).ready(function() {
            $('#dp').datepicker();
            $('.timepicker').timepicker({
            defaultTime: '{{ comment.time.hour }}:{{ comment.time.minute }}:{{ comment.time.second }}',
            template: 'dropdown',
            showSeconds: true,
            showMeridian: false
                 });
    });
</script>
{% endblock %}