{% extends "base.html" %}
{% load static sitetree %}

{% block sidebar %}
{% sitetree_menu from "opmstree" include "top-monitoring" template "sitetree/navlist.html" %}
{% endblock %}

{% block content %}
{% if error != '' %}
<div class="alert alert-error">ERROR: {{ error }}</div>
{% else %}
{% if message != '' %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}
<h3>{{ event.title }}</h3>
<div>
    {{ event.date }}: {{ event.detail }}
</div>
<div style="text-align:right">
    ID: {{ event.id }}<br/>
    Category: <span style="color:{{ event.category.color }}">{{ event.category.description }}</span><br/>
    Uploaded by {{ event.user_email }}, {{ event.dt_uploaded }}<br/>
{% if event.moderated %}
    Moderated by {{ event.moderator }}, {{ event.dt_moderated }}</div>
{% else %}
    </div><div class="alert alert-info" style="text-align: center">This event has yet to be checked by one of our moderators.</div>
{% endif %}
{% endif %}
{% endblock %}