{% extends "base.html" %}
{% load static sitetree %}

{% block sidebar %}
{% sitetree_menu from "opmstree" include "top-monitoring" template "sitetree/navlist.html" %}
{% endblock %}

{% block content %}
{% if error != '' %}
<div class="alert alert-error">ERROR: {{ error }}</div>
{% else %}
{% if message != '' %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}
<h3>{{ event.title }}</h3>
<div>
    {{ event.date }}: {{ event.detail }}
</div>
<div style="text-align:right">
    ID: {{ event.id }}<br/>
    Category: <span style="color:{{ event.category.color }}">{{ event.category.description }}</span>
</div>
{% endif %}
{% endblock %}