{% extends "base.html" %}
{% load static sitetree %}
{% get_static_prefix as STATIC_PREFIX %}

{% block sidebar %}
{% sitetree_menu from "opmstree" include "top-monitoring" template "sitetree/navlist.html" %}
{% endblock %}

{% block head %}
    <style type="text/css">
        {% for c in categories_to_plot %}
            .on_category_{{ c.id|add:"-1" }} {
                background:{{ c.color }};
            }
        {% endfor %}
        {% for m in metrics_to_plot %}
            .on_metric_{{ m.id|add:"-1" }} {
                background:{{ m.linecolor }};
            }
        {% endfor %}
        .off_category {
            background:#efefef;
        }
        .off_metric {
            background:#cccccc;
        }
    </style>
    <script src="{{ STATIC_PREFIX }}scripts/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_PREFIX }}scripts/jquery.tablesorter.min.js"></script>
    <script src="http://api.simile-widgets.org/timeplot/1.1/timeplot-api.js"
            type="text/javascript"></script> <!--MUST BE LOADED AFTER tablesorter!-->
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/tablesorter.css" media="screen,projection" />

    <script>
        var timeplot;
        var eventSource = new Timeplot.DefaultEventSource();
        var min = "";
        var max = "";
        var change_time_range = false;
        var zoomin_min = "";
        var zoomin_max = "";
        var zoomout_min = "";
        var zoomout_max = "";
        var panright_min = "";
        var panright_max = "";
        var panleft_min = "";
        var panleft_max = "";
        var one_day = 1000*60*60*24; //in ms

        {% for category_to_plot in categories_to_plot %}
            {% if category_to_plot %}
                var eventSourceJSON{{ forloop.counter }} = new Timeplot.DefaultEventSource();
            {% endif %}
        {% endfor %}

        var metric_visibility = [];
            {% for m in metrics_to_plot %}
                metric_visibility[{{ m.id }} - 1] = {{ m.defaultvisibility|lower }};
            {% endfor %}
        var category_visibility = [];
            {% for c in categories_to_plot %}
                category_visibility[{{ c.id }} - 1] = {{ c.defaultvisibility|lower }};
            {% endfor %}

        function onLoad() {
            var timeGeometry;
            if (change_time_range)
                {
                    timeGeometry = new Timeplot.DefaultTimeGeometry({
                        gridColor: new Timeplot.Color("#000000"),
                        axisLabelsPlacement: "bottom",
                        min: min, //ISO 8601 dates: yyyy-mm-dd
                        max: max
                    });
                    change_time_range = false;
                }
            else
                {
                    timeGeometry = new Timeplot.DefaultTimeGeometry({
                        gridColor: new Timeplot.Color("#000000"),
                        axisLabelsPlacement: "bottom",
                        min: "", //ISO 8601 dates: yyyy-mm-dd
                        max: ""  //Null min/max result in auto-calculation by timeplot.
                    });
                }

            var valueGeometry = new Timeplot.DefaultValueGeometry({
                gridColor: "#000000",
                min: 0,
                max: 100
            });

            var plotInfo = [];

            {% for m in metrics_to_plot %}
                var metric_plot_{{ m.id }} = Timeplot.createPlotInfo({
                    id: "plot{{ m.id }}",
                    dataSource: new Timeplot.ColumnSource(eventSource,{{ m.id }}),
                    valueGeometry: valueGeometry,
                    timeGeometry: timeGeometry,
                    lineColor: "{{ m.linecolor }}",
                    fillColor: "{{ m.fillcolor }}",
                    showValues: {{ m.mouseover_timeplot }}
                });
                var number_of_metrics = {{ forloop.counter }};
            {% endfor %}

            {% for c in categories_to_plot %}
                var category_plot_{{ c.id }} = Timeplot.createPlotInfo({
                    id: "plot{{ c.id }}d",
                    timeGeometry: timeGeometry,
                    eventSource: eventSourceJSON{{ c.id }},
                    lineColor: "{{ c.color }}"
                });
                var number_of_categories = {{ forloop.counter }};
            {% endfor %}

            {% for m in metrics_to_plot %}
                if (metric_visibility[{{ m.id|add:"-1" }}])
                {
                    plotInfo.push(metric_plot_{{ m.id }});
                }
            {% endfor %}
            {% for c in categories_to_plot %}
                if (category_visibility[{{ c.id|add:"-1" }}])
                {
                    plotInfo.push(category_plot_{{ c.id }});
                }
            {% endfor %}
            timeplot = Timeplot.create(document.getElementById("my-timeplot"), plotInfo);
            var text = "{{ metrics_textfile }}";
            eventSource.loadText(text, ",", ".");

            {% for category_to_plot in categories_to_plot %}
                var data{{ forloop.counter }} = {
                'events': [
                {% for comm in comments %}
                    {% if comm.category == category_to_plot %}
                        {
                            'start':"{{ comm.datetime_timeplotxml }}",
                            'title':"Comment from {{ comm.source|escapejs }}",
                            'description':"\"{{ comm.detail|escapejs }}\" <br/><a href=\"comment/{{ comm.id }}\">View detail</a> | <a href=\"comment/{{ comm.id }}/edit/\">Edit</a> | <a href=\"comment/{{ comm.id }}/delete/\">Delete</a>"
                        },
                    {% endif %}
                {% endfor %}
                {% for event in events %}
                    {% if event.category == category_to_plot %}
                        {
                            'start':"{{ event.datetime_timeplotxml }}",
                            'title':"{{ event.title|escapejs }}",
                            'description':"{{ event.detail|escapejs }}<br/><a href=\"event/{{ event.id }}\">View detail</a> | <a href=\"event/{{ event.id }}/edit/\">Edit</a> | <a href=\"event/{{ event.id }}/delete/\">Delete</a>"
                        },
                    {% endif %}
                {% endfor %}
                    ]
                };
                eventSourceJSON{{ forloop.counter }}.loadJSON(data{{ forloop.counter }}, ".");
            {% endfor %}

            min = timeGeometry._earliestDate;
            max = timeGeometry._latestDate;

            var current_min = new Date(min);
            var current_max = new Date(max);

            var length_in_days = Math.round((current_max.getTime() - current_min.getTime())/one_day);

            var zoomin_min_date = new Date(min);
            var zoomin_max_date = new Date(max);
            var zoomout_min_date = new Date(min);
            var zoomout_max_date = new Date(max);
            var panright_min_date = new Date(min);
            var panright_max_date = new Date(max);
            var panleft_min_date = new Date(min);
            var panleft_max_date = new Date(max);

            panright_max_date.setDate(panright_max_date.getDate() + (length_in_days/10));
            panright_min_date.setDate(panright_min_date.getDate() + (length_in_days/10));
            panleft_max_date.setDate(panleft_max_date.getDate() - (length_in_days/10));
            panleft_min_date.setDate(panleft_min_date.getDate() - (length_in_days/10));
            zoomin_min_date.setDate(zoomin_min_date.getDate() + (length_in_days/10));
            zoomin_max_date.setDate(zoomin_max_date.getDate() - (length_in_days/10));
            zoomout_min_date.setDate(zoomout_min_date.getDate() - (length_in_days/8));
            zoomout_max_date.setDate(zoomout_max_date.getDate() + (length_in_days/8));

            zoomin_min = zoomin_min_date.toISOString();
            zoomin_max = zoomin_max_date.toISOString();
            zoomout_min = zoomout_min_date.toISOString();
            zoomout_max = zoomout_max_date.toISOString();
            panright_min = panright_min_date.toISOString();
            panright_max = panright_max_date.toISOString();
            panleft_min = panleft_min_date.toISOString();
            panleft_max = panleft_max_date.toISOString();

//            document.getElementById("debug").innerHTML = "Length in days: " + length_in_days;
        }

        var resizeTimerID = null;
        function onResize() {
            if (resizeTimerID == null) {
                resizeTimerID = window.setTimeout(function() {
                    resizeTimerID = null;
                    timeplot.repaint();
                }, 100);
            }
        }

        function toggle(el){
            //Set global variables appropriately when someone clicks on a toggle button
            switch(el.className) {
                case "on_category_" + el.id :
                    el.className = "off_category";
                    category_visibility[el.id] = false;
                    break;
                case "on_metric_" + el.id :
                    el.className = "off_metric";
                    metric_visibility[el.id] = false;
                    break;
                case "off_category":
                    el.className = "on_category_" + el.id;
                    category_visibility[el.id] = true;
                    break;
                case "off_metric":
                    el.className = "on_metric_" + el.id;
                    metric_visibility[el.id] = true;
                    break;
                default:
                    window.alert("ERROR: Invalid button class name.");
            }

            //Wipe the old timeplot
            var div = timeplot.getElement();
            div.parentElement.removeChild(div);

            //Create a new div identical to the old one to put the new timeplot in
            var parent = document.getElementById("timeplot-parent");
            parent.innerHTML = "<div id=\"my-timeplot\" style=\"height: 150px;\"></div>";

            onLoad();
        }

        function setTimeRange(newmin,newmax){
            min = newmin;
            max = newmax;
            change_time_range = true;

            //Wipe the old timeplot
            var div = timeplot.getElement();
            div.parentElement.removeChild(div);

            //Create a new div identical to the old one to put the new timeplot in
            var parent = document.getElementById("timeplot-parent");
            parent.innerHTML = "<div id=\"my-timeplot\" style=\"height: 150px;\"></div>";

            onLoad();
        }
    </script>
{% endblock %}

{% block content %}
<script>
    $(document).ready(function()
            {
                onLoad();
                $("#eventsTable").tablesorter({ sortList: [[1,1]] });
                $("#commentsTable").tablesorter({ sortList: [[1,1]] });
            }
    );
    $(window).resize(function()
            {
                onResize();
            }
    );
</script>
<div style="text-align:right">
    <a href="comment/">New comment</a> | <a href="event/">New event</a>
</div>
<div id="timeplot-parent">
    <div id="my-timeplot" style="height: 150px;"></div>
</div>

<input type="button" id="panleft" value="<" onclick="setTimeRange(panleft_min,panleft_max)"/>
<input type="button" id="zoomin" value="+" onclick="setTimeRange(zoomin_min,zoomin_max)"/>
<input type="button" id="zoomout" value="-" onclick="setTimeRange(zoomout_min,zoomout_max)"/>
<input type="button" id="panright" value=">" onclick="setTimeRange(panright_min,panright_max)"/>

<!-- Generate toggle buttons.-->
{% for c in categories_to_plot %}
    {% if c.defaultvisibility %}
        <input type="button" id="{{ c.id|add:"-1" }}" value="{{ c.description }}" class="on_category_{{ c.id|add:"-1" }}" onclick="toggle(this)" />
    {% else %}
        <input type="button" id="{{ c.id|add:"-1" }}" value="{{ c.description }}" class="off_category" onclick="toggle(this)" />
    {% endif %}
{% endfor %}
{% for m in metrics_to_plot %}
    {% if m.defaultvisibility %}
        <input type="button" id="{{ m.id|add:"-1" }}" value="{{ m.description }}" class="on_metric_{{ m.id|add:"-1" }}" onclick="toggle(this)" />
    {% else %}
        <input type="button" id="{{ m.id|add:"-1" }}" value="{{ m.description }}" class="off_metric" onclick="toggle(this)" />
    {% endif %}
{% endfor %}

<div id="debug"></div>

<h2>Events</h2>
<table id="eventsTable" class="tablesorter">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Title</th>
        <th>Detail</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for e in events %}
    <tr>
        <td><a href="event/{{ e.id }}/">{{ e.id }}</a></td>
        <td>{{ e.date }}</td>
        <td>{{ e.title }}</td>
        <td>{{ e.detail }}</td>
        <td>{{ e.category.description }}</td>
        <td><a href="event/{{ e.id }}/edit/">Edit</a> | <a href="event/{{ e.id }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Comments</h2>
<table id="commentsTable" class="tablesorter">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Source</th>
        <th>Detail</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for c in comments %}
    <tr>
        <td><a href="comment/{{ c.id }}/">{{ c.id }}</a></td>
        <td>{{ c.date }}</td>
        <td>{{ c.time }}</td>
        <td>{{ c.source }}</td>
        <td>"{{ c.detail }}"</td>
        <td>{{ c.category.description }}</td>
        <td><a href="comment/{{ c.id }}/edit/">Edit</a> | <a href="comment/{{ c.id }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}