{% extends "stats/base.html" %}
{% load static  chartit %}
{% get_static_prefix as STATIC_PREFIX %}
{% block head %}
    <script src="{{ STATIC_PREFIX }}scripts/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_PREFIX }}scripts/jquery-ui-1.8.13.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/tablesorter.css" media="screen,projection" />
    <script src="{{ STATIC_PREFIX }}js/highcharts.js"></script>
{% endblock %}

{% block content %}
<h1>Summary for {{ref}} (psudeo feed)</h1>

{% if listing %}

    {% if summary %}
<h3>Summary</h3>
<p>This feed has {{ summary.count }} items and in total they have been downloaded {{ summary.total }} times, making the average per item of {{ summary.avg }} downloads.<br />
Most popular {{summary.max_term|default:"item"}} ({{ summary.max_name }}) had {{ summary.max_value }} downloads.</p>
    {% endif %}

<h3>Data visualisation</h3>

{{ cht|load_charts:"hcontainer" }}
<div id="hcontainer" style="width: 100%; height: {{ chart_height }}em">Chart to be rendered here. Please be
    patient as this can take some time on large feeds and slow computers.</div>

<script>
$(document).ready(function()
    {
        $("#summaryTable").tablesorter( {sortList: [[0,1]]} );
    }
);
</script>

<h3>Data table</h3>
<p><span class="label label-info">Info</span> Switch display layout.
    {% if orientation == 1 %}
        <a href="?orientation=0">Change to columns of Items</a>
    {% else %}
        <a href="?orientation=1">Change to columns of Weeks</a>
    {% endif %}
    </p>

<table id="summaryTable" class="tablesorter">
    <thead>
        {% for row in listing %}
        {% if forloop.counter0 == 0 %}
        <tr>
            <th>{{ row.column_a|default:"Week Commencing" }}</th>
            <th>{{ row.total|default:"Week Total" }}</th>
            {% for item in row.data %}{# Due to table sorting, can't have links in the column headers! #}
                {% if orientation == 1 %}
            <th>{{ item }}</th>
                {% else %}
            <th>{{ item|slice:"25:50" }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% endif %}
        {% if forloop.counter0 == 1 %}
        <tr>
            <td>{{ row.column_a }}</td>
            <td>{{ row.total }}</td>
            {% for item in row.data %}
            <td class="highlight-total">{{ item }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% if forloop.counter0 > 1 %}
        <tr>
            <td>{% if orientation == 0 %}
                {{ row.column_a }}
                {% else %}
                <a href="/analytics/apple/guid/{{ row.column_a|first }}">{{ row.column_a|last }}</a>
                <!-- href="{% url apple-guid-detail row.column_a|first %}" -->
            {% endif %}</td>
            <td class="highlight-total">{{ row.total }}</td>
            {% for item in row.data %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Data is missing</p>
{% endif %}


{% endblock %}