{% extends "base.html" %}
{% block title %}Statistics{% endblock %}

{% block navbar %}
<div id="mainnav">
    <h2>Main sections</h2>
    <ul class="level-1">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/ffm/">Files &amp; Feeds</a></li>
        <li><span class="youarehere">Statistics</span></li>
    </ul>
</div>
<div id="mainnav2">
    <h3>Sub sections for Statistics</h3>
    <ul class="level-2">
        <li><a href="/stats/report/summary/">Summary</a></li>
        <li><a href="/stats/report/summary/feeds/">Feeds</a></li>
        <li><a href="#">Platforms</a></li>
        <li><a href="#">Geography</a></li>
    </ul>
</div>
{% endblock %}

{% block breadcrumb %}&gt; <a href="#">Statistics</a>{% endblock %}

{% block content %}
    <h1>Statistics and Feedback for Oxford Podcasts</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel diam quis arcu egestas feugiat. Pellentesque in ligula. Nullam commodo. Ut aliquam mi eu tellus. In hac habitasse platea dictumst. Cras commodo sapien vitae dolor. In volutpat, mauris ac hendrerit tincidunt, magna sapien porttitor ligula, id rhoncus turpis tellus in nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tincidunt lectus in nisl. Nunc vel augue ut felis ultrices ornare. Maecenas suscipit consectetur turpis. Sed nisl. Vivamus eu orci. Integer tellus mauris, euismod ut, tincidunt tincidunt, fringilla eget, mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

    <p>Nulla sollicitudin quam at ante. Nunc porttitor fermentum neque. Proin blandit congue urna. Nulla nec erat quis urna accumsan interdum. Aenean iaculis. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum, libero ornare placerat mattis, orci massa venenatis libero, et ultrices ligula lacus at arcu. Praesent pharetra orci quis felis. Aenean semper tellus eu magna. Quisque tempus malesuada orci. Etiam consequat vestibulum metus. Mauris ut nibh. Phasellus in diam. Etiam neque. Aliquam erat volutpat.</p>
{% endblock %}
