{% extends "base.html" %}
{% block title %}Statistics{% endblock %}

{% block navbar %}
<div id="mainnav">
    <h2>Main sections</h2>
    <ul class="level-1">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/ffm/">Files &amp; Feeds</a></li>
        <li><span class="youarehere">Statistics</span></li>
    </ul>
</div>
<div id="mainnav2">
    <h3>Sub sections for Statistics</h3>
    <ul class="level-2">
        <li><a href="/stats/report/summary/">Summary</a></li>
        <li><a href="/stats/report/summary/feeds/">Feeds</a></li>
        <li><a href="/stats/report/summary/files/">Files</a></li>
    </ul>
</div>
{% endblock %}

{% block breadcrumb %}&gt; Statistics{% endblock %}

{% block content %}
    <h1>Statistics and Feedback for Oxford Podcasts</h1>
    <h2>Apple Stats</h2>
    <ul>
	<li>Summary</li>
	<li>Feeds</li>
	<li>Items</li>
    </ul>

{% endblock %}
