{% extends "base.html" %}
{% load static sitetree %}

{% block head %}
    <script src="{{ STATIC_PREFIX }}scripts/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_PREFIX }}scripts/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/tablesorter.css" media="screen,projection" />
    <script>
        $(document).ready(function()
                {
                    $("#genreTable").tablesorter({ sortList: [[0,0]] });
                }
        );
    </script>
{% endblock %}

{% block sidebar %}
    {% sitetree_menu from "opmstree" include "top-monitoring" template "sitetree/navlist.html" %}
{% endblock %}

{% block content %}
    <h3>iTunes U Genres</h3>
    {% if error != '' %}
        <div class="alert alert-error">ERROR: {{ error }}</div>
    {% else %}
        {% if message != '' %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        {% if genres %}
        <div>Showing {{ genres|length }} genres which have been found during institutional scans.</div>
        <table id="genreTable" class="tablesorter">
            <thead>
            <tr>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for g in genres %}
                <tr>
                    <td><a href="{% url itu-genre genre_id=g.id %}">{{ g.name }}</a></td>
                    <td><a href="{{ g.url }}">iTunes U</a> <i class="icon-share-alt"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>No genres found.</div>
        {% endif %}
    {% endif %}
{% endblock %}