{% extends "base.html" %}
{% load static sitetree %}

{% block sidebar %}
    {% sitetree_menu from "opmstree" include "top-monitoring" template "sitetree/navlist.html" %}
{% endblock %}

{% block content %}
    <h3>iTunes U Items</h3>
    {% if error != '' %}
        <div class="alert alert-error">ERROR: {{ error }}</div>
    {% else %}
        {% if message != '' %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        <div>For performance reasons, viewing all items simultaneously has not been implemented. Instead, you could try:</div>
        <ul>
            <li>Viewing the <a href="{% url itu-top-items %}">Top Items Chart</a></li>
            <li>Looking at items which were updated or added during a particular <a href="{% url itu-scanlogs %}">scan</a></li>
            <li>Finding the collection an item is in, and then viewing the item</li>
        </ul>
    {% endif %}
{% endblock %}