{% extends "monitors/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block head %}
    <script src="{{ STATIC_PREFIX }}scripts/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_PREFIX }}scripts/jquery-ui-1.8.13.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/tablesorter.css" media="screen,projection" />
{% endblock %}

{% block content %}
<h2>URL Reporting</h2>
{%  if summary_listing %}
<p>The following URLs have been scanned by this system:</p>
<ul>
    {% for item in summary_listing %}
    <li>{{ item|safe }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if scan_data %}
<script>
$(document).ready(function()
    {
        $("#summaryTable").tablesorter( {sortList: [[0,1]]} );
    }
);
</script>

{% if url_id %}
{#<!--<p>This is a list of the last 3 days worth of scans</p>-->#}
{#<!--<h3>Data visualisation</h3>-->#}
{#<!--<p>Legend: Blue Dots = TTFB; Red Crosses = TTLB; Lightest colours represent the first iteration of each scan<br />-->#}
{#    <!--<img src="./graph/url_by_time/{{ url_id }}.png" /><br />-->#}
{#    <!--<a href="./graph/url_by_time/{{ url_id }}.png?dpi=300">[Print Version]</a> <a href="./graph/url_by_time/{{ url_id }}.png?dpi=600">[High Resolution]</a></p>-->#}
{% endif %}
{% if task_id %}
<p>This is a list of all the scans performed as part of task {{ task_id }}.</p>
{% endif %}

<table id="summaryTable" class="tablesorter">
    <thead>
        <tr>
            {% if url_id %}<th>Task &amp; Comment</th>{% endif %}
            {% if task_id %}<th>URL</th>{% endif %}
            <th>Iteration</th>
            <th>Time of Request</th>
            <th>Status Code</th>
            <th>TTFB</th>
            <th>TTLB</th>
        </tr>
    </thead>
    <tbody>
    {% for row in scan_data %}
        <tr>
            {% if url_id %}<td><a href="./task-{{ row.task.id }}">{{ row.task.id }}</a>:{{ row.task.comment }}</td>{% endif %}
            {% if task_id %}<td><a href="./url-{{ row.url.id }}">{{ row.url.url }}</a></td>{% endif %}
            <td>{{ row.iteration }}</td>
            <td>{{ row.time_of_request|date:"Y-m-d H:i:s" }}</td>
            <td class="{% if row.status_code == 200 %}positive{% else %}negative{% endif %}">{{ row.status_code }}</td>
            <td class="{% if row.ttfb < 0.5 %}positive{% else %}negative{% endif %}">{{ row.ttfb|floatformat:4 }}</td>
            <td class="{% if row.ttlb < 0.5 %}positive{% else %}negative{% endif %}">{{ row.ttlb|floatformat:4 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}