{% extends "base.html" %}
{% block title %}Files and Feeds{% endblock %}

{% block navbar %}
<div id="mainnav">
    <h2>Main sections</h2>
    <ul class="level-1">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/">Admin</a></li>
        <li><span class="youarehere">Files &amp; Feeds</span></li>
        <li><a href="/stats/">Statistics</a></li>
    </ul>
</div>
<div id="mainnav2">
    <h3>Sub sections for Files and Feeds</h3>
    <ul class="level-2">
        <li><a href="/ffm/feeds/">Feeds</a></li>
        <li><a href="/ffm/items/">Items</a></li>
        <li><a href="/ffm/people/">People</a></li>
    </ul>
</div>
{% endblock %}
    

{% block content %}
    <h1>Feeds and Files comprising Oxford Podcasts</h1>
    <ul>
        <li><a href="/ffm/feeds/">Feeds</a></li>
        <li><a href="/ffm/items/">Items</a></li>
        <li><a href="/ffm/people/">People</a></li>
    </ul>
{% endblock %}        
