{% extends "ffm/base.html" %}
{% block head %}
{% endblock %}

{% block title %}Summary of Feeds and Groups{% endblock %}

{% block navbar %}
<div id="mainnav">
    <h2>Main sections</h2>
    <ul class="level-1">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/ffm/" class="currentsection">Files &amp; Feeds</a></li>
        <li><a href="/stats/">Statistics</a></li>
    </ul>
</div>
<div id="mainnav2">
    <h3>Sub sections for Files &amp; Feeds</h3>
    <ul class="level-2">
        <li><span class="youarehere">Feeds</span></li>
        <li><a href="/ffm/items/">Items</a></li>
        <li><a href="/ffm/people/">People</a></li>
    </ul>
</div>
{% endblock %}

{% block breadcrumb %}&gt; <a href="/ffm/">Files &amp; Feeds</a> &gt; Summary of Feeds{% endblock %}

{% block content %}
{% if summary_data %}
<h3>Data table</h3>
<table id="summaryTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>FeedGroup</th>
        </tr>
    </thead>
    <tbody>
    {% for row in summary_data %}
        <tr>
            <td>{{ row.id }}</td>
            <td><strong>Title:</strong> {{ row.title }}<br />
            <strong>Description:</strong> {{ row.description }}<br />
            <strong>Publish:</strong> {{ row.publish_start }} to {{ row.publish_stop }}<br />
            <strong>Comments:</strong> {{ row.internal_comments }}<br />
            <strong>Tags:</strong><ul>
                    {% for t in row.tags.all %}
                    <li>{{ t.name }}</li>
                    {% endfor %}
            </ul><br />
            <strong>Links:</strong><ul>
                    {% for l in row.links.all %}
                    <li><a href="{{ l.url }}">{{ l.name }}</a></li>
                    {% endfor %}
            </ul><br />
            <strong>Feeds:</strong><ul>
                    {% for fe in row.feed_set.all %}
                    <li><img src="{{ fe.artwork.fileurl_set.url }}" alt="{{ fe.artwork.alternative_title }}">
                        <a href="{{ fe.id }}">{{ fe.slug }}</a> has {{ fe.files.count }} files.</li>
                    {% endfor %}
            </ul><br />
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
    <p>No summary data to display here</p>
{% endif %}

{% endblock %}